<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DD4T-2011SP1-Nightly" version="1.26.0.21" targetFramework="net45" />
  <package id="EntityFramework" version="4.1.10331.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net451" />
</packages>